name: Build & Push Image and Update GitOps

on:
  push:
    branches:
      - main

concurrency:
  group: ecommerce-main
  cancel-in-progress: true

env:
  IMAGE_NAME: kalpit191/ecommerce-flask-app

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout application code
      - name: Checkout App Repo
        uses: actions/checkout@v4

      # 2️⃣ Set image tag
      - name: Set Image Tag
        run: |
          echo "IMAGE_TAG=build-${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

      # 3️⃣ DockerHub auth for Kaniko
      - name: Configure DockerHub Auth
        run: |
          mkdir -p /kaniko/.docker
          echo '{
            "auths": {
              "https://index.docker.io/v1/": {
                "auth": "'$(echo -n "${{ secrets.DOCKER_USER }}:${{ secrets.DOCKER_PASS }}" | base64)'"
              }
            }
          }' > /kaniko/.docker/config.json

      # 4️⃣ Build & Push Image using Kaniko
      - name: Build and Push Image
        uses: docker://gcr.io/kaniko-project/executor:debug
        with:
          args: >
            --context=${{ github.workspace }}
            --destination=${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
            --force

      # 5️⃣ Checkout GitOps repo
      - name: Checkout GitOps Repo
        uses: actions/checkout@v4
        with:
          repository: kalpit191/ecommerce-gitops
          token: ${{ secrets.GITOPS_TOKEN }}
          path: gitops

      # 6️⃣ Update Kubernetes manifest
      - name: Update deployment.yaml
        run: |
          cd gitops
          sed -i "s|image: .*|image: ${IMAGE_NAME}:${IMAGE_TAG}|g" kube/deployment.yaml

          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git add kube/deployment.yaml
          git diff --cached --quiet || git commit -m "Update image to ${IMAGE_TAG}"
          git push
